div.sdmenu {
	font-size: 11px;
	padding-bottom: 10px;
	color: #333333;
	background-color: #005891;
}
div.sdmenu div {
	overflow: hidden;
	background-color: #5196C0;
}
div.sdmenu div:first-child {
	background-color: #5196C0;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: white;
	background: url(expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #1A6682;
	background-color: #F0F0F0;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #73B7DF;
}
